<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.certifico.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name="io.certifico.app.LMApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">
        <activity android:name="io.certifico.app.ui.lock.EnterPasswordActivity"></activity>
        <activity android:name="io.certifico.app.ui.lock.SetPasswordActivity" />
        <activity android:name="io.certifico.app.ui.lock.LockScreenActivity" />
        <activity
            android:name="io.certifico.app.ui.splash.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolbarTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="me.certifico.io"
                    android:scheme="https" />
                <data
                    android:host="me-dev.certifico.io"
                    android:scheme="https" />
                <data
                    android:host="mars.certifico.io"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.certifico.app.ui.video.VideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser"
            android:theme="@style/NoToolbarTheme.Video" />
        <activity
            android:name="io.certifico.app.ui.onboarding.OnboardingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolbarTheme.Onboarding"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.certifico.app.ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.settings.SettingsActivity"
            android:label="@string/settings_fragment"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.issuer.IssuerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.certifico.app.ui.issuer.AddIssuerActivity"
            android:label="@string/fragment_add_issuer_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.LMWebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.settings.passphrase.RevealPassphraseActivity"
            android:label="@string/settings_reveal_passphrase"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.cert.CertificateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name="io.certifico.app.ui.issuer.IssuerInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.cert.AddCertificateActivity"
            android:label="@string/fragment_add_certificate_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolbarTheme" />
        <activity
            android:name="io.certifico.app.ui.cert.CertificateInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.WebAuthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.cert.VerifyCertificateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.home.AboutActivity"
            android:label="@string/settings_about"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.certifico.app.ui.settings.LearnMoreActivity"
            android:label="@string/settings_learn_more"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.certifico.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

    </application>

</manifest>